/* .gradient-custom { */
/* fallback for old browsers */
/* background: #f093fb; */

/* Chrome 10-25, Safari 5.1-6 */
/* background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)) */
/* } */
.gradient-custom {
    /* Set the background image */
    background-image: url('bghome.jpg');

    /* Replace 'your-image-url.jpg' with the URL of your image */

    /* Define background size and positioning */
    background-size: cover;
    /* You can adjust this to 'contain' or other values as needed */
    /* background-position: center center; */
    /* You can adjust this for positioning */

    /* Fallback background color for older browsers */
    /* background-color: #070704; */

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to bottom right, rgb(219, 37, 240), rgb(24, 15, 16)); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to bottom right, rgb(211, 38, 15), rgb(243, 230, 231)); */
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}